name: package

on:
  push:
    branches:
      - master
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"
  schedule:
    - cron: 0 8 * * *
  pull_request:


jobs:
  build:
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v2

      - name: javasetup
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: '8'

      - name: Installs
        run: |
          pip install --pre hamlet-cli
          pip install awscli

          sudo apt-get update
          sudo apt-get install -y jq dos2unix

      - id: pick_engine
        name: Pick Engine
        run: |
          if [[ "${{ github.ref }}" == refs/tags/* ]]; then
            echo ::set-output name=engine::"$(cat state/release_engine_state.json | jq -r '.engine.name')"
          else
            echo ::set-output name=engine::unicycle
          fi

      - name: Run Tests
        env:
          TEST_OUTPUT_DIR: ${{ github.workspace }}/hamlet_tests
        run: |
          ./test.sh "${{steps.pick_engine.outputs.engine}}"

      - name: Shared Plugin Results
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: 'hamlet_tests/shared/junit.xml'
          fail_on_failure: true
          require_tests: true
          check_name: Shared Plugin Results

      - name: AWS Plugin Results
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: 'hamlet_tests/aws/junit.xml'
          fail_on_failure: true
          require_tests: true
          check_name: AWS Plugin Results

      - name: Azure Plugin Results
        uses: mikepenz/action-junit-report@v2
        with:
          report_paths: 'hamlet_tests/azure/junit.xml'
          fail_on_failure: true
          require_tests: true
          check_name: Azure Plugin Results

      - name: docker meta details
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ghcr.io/${{github.repository}}
          flavor: |
            latest=auto
          tags: |
            type=edge,branch=main
            type=semver,pattern={{version}}
            type=schedule,pattern=nightly
            type=schedule,pattern=schedule-{{date 'YYYYMMDD'}}
            type=sha

      - name: Set up Docker
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Release
        uses: docker/build-push-action@v2
        with:
          push: ${{ github.event_name == 'scheduled' || startsWith(github.ref, 'refs/tags/*') || github.ref == 'refs/heads/main' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          target: base_package
          build-args: |
            engine=${{steps.pick_engine.outputs.engine}}
